<!DOCTYPE html>
<html>
<head>
  <title>Randomactsof</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<%= link_to 'Random Acts of Code', root_path %>
	</header>
	<% if current_user %>
		<nav>
		
			<%= link_to 'Write a New Post', new_post_path %> |
			<%= link_to 'Log In', login_path %> | 
			<%= link_to 'Log Out', logout_path %>
		</nav>
	<% end %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
	<%= yield %>

</body>
</html>
